<div id="myNav" class="overlay">
    <div id="about">
        <h1>ABOUT</h1>
        <p>I live in <br>
        58°0.6276<br>
        56°15.0102</p>
        <p>I make photos.</p>
        <p>My mom proud of me.</p>
    </div>
    <div id="contact">
        <h1>CONTACT</h1>
        <p>Write me some letters...</p>
        <div id="cform">
            <form method="post" action="" class="contact-form" id="contact-form" name="contact-form">
                <div class="contact-block">
                    <input value="" name="cname" class="required contact-input" id="cname" placeholder="* Name" required="" type="text">
                </div>
                <div class="contact-block">
                    <input value="" name="cemail" class="required contact-input" id="cemail" placeholder="* Email Address" required="" type="text">
                </div>
                <div class="contact-block">
                    <input value="" name="cphone" class="contact-input" id="cphone" placeholder="Telephone Number" type="text">
                </div>
                <div class="contact-block contact-message">
                    <textarea id="cmessage" class="cmessage" name="cmessage" maxlength="1000" cols="58" rows="4"></textarea>
                </div>
                <div class="contact-block contact-submit">
                    <input value="Submit" name="submit" id="contact-submit" disabled="disabled" class="transition button" type="submit">
                    <input name="action" value="subscribe" type="hidden">
                </div>
        </div>
            </form>
    </div>
    <div id="share">
        <h1>SHARE</h1>
        <ul>
            <li><a href="https://vk.com">VK</a></li>
            <li><a href="https://instagram.com">Instagram</a></li>
            <li><a href="https://tumblr.com">Tumblr</a></li>
            <li><a href="https://facebook.com">Facebook</a></li>
            <li><a href="https://pinterest.com">Pinterest</a></li>
        </ul>
    </div>
    <div id="credits">
        © 2016 LudiUlits |
        Site design by Me |
        No rights reserved
    </div>
</div>
