<div id="logoname">
    <h1>LudiUlits</h1>
</div>

<div id="social">
    <ul>
        <li><a class="icons icon-vk transition" target="_blank" href="https://vk.com"></a></li>
        <li><a class="icons icon-ig transition" target="_blank" href="https://instagram.com"></a></li>
        <li><a class="icons icon-tm transition" target="_blank" href="https://tumblr.com"></a></li>
        <li><a class="icons icon-fb transition" target="_blank" href="https://facebook.com"></a></li>
        <li><a class="icons icon-pt transition" target="_blank" href="https://pinterest.com"></a></li>
    </ul>
</div>
<div class="about_icon">
    <div id="trigger-overlay">
        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
